<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Joel Diaz, Conspirator </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 
   <header> 
    <span class="header_title">Still Conspiring!</span>
 
    {{ content }}

  <footer>
   <span class="copyright">
     <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
   </span>
  </footer>
 
</body>
</html>
